*{
    box-sizing: border-box;
}
aside, div, section, header, footer, nav {
    display: block;
}

html{
    font-size: 16px;
}

body{
    background: -moz-linear-gradient(#fff, #c3c3c3);
    background: -webkit-linear-gradient(#fff, #c3c3c3);
    background: -o-linear-gradient(#fff, #c3c3c3);
}
/*le degrade*/
/*
background: #fefefd; !* Old browsers *!
background:-moz-linear-gradient(top,  #fefefd 0%, #dce3c4 0%, #dce3c4 0%, #dce3c4 35%, #4f4433 94%, #4f4433 99%, #4f4433 100%, #4f4433 100%, #4f4433 100%, #4f4433 100%); !* FF3.6-15 *!
background:-webkit-linear-gradient(top,  #fefefd 0%,#dce3c4 0%,#dce3c4 0%,#dce3c4 35%,#4f4433 94%,#4f4433 99%,#4f4433 100%,#4f4433 100%,#4f4433 100%,#4f4433 100%); !* Chrome10-25,Safari5.1-6 *!
background:linear-gradient(to bottom,  #fefefd 0%,#dce3c4 0%,#dce3c4 0%,#dce3c4 35%,#4f4433 94%,#4f4433 99%,#4f4433 100%,#4f4433 100%,#4f4433 100%,#4f4433 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefd', endColorstr='#4f4433',GradientType=0 ); !* IE6-9 *!
*/



/*------------le wrapper a 80% (mf)-----------------*/
#wrapper{
    width: 80%;
    margin: auto;
    background-color: white;
}


/*------------------------------------le grille------------------------------------------------*/
[class*="col-"] {
    float: left;
    padding: 0 15px;
}
.row:after{
    content: "";
    clear: both;
    display: block;
}


/*------------------------------grille de desktop-------------------------------------------------------*/
.col-1  {width: 8.33%;}
.col-2  {width: 16.66%;}
.col-3  {width: 25%;}
.col-4  {width: 33.33%;}
.col-5  {width: 41.66%;}
.col-6  {width: 50%;}
.col-7  {width: 58.33%;}
.col-8  {width: 66.66%;}
.col-9  {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/*--------------------------------grillle de tablette-------------------------------------------------*/
.col-t-1  {width: 8.33%;}
.col-t-2  {width: 16.66%;}
.col-t-3  {width: 25%;}
.col-t-4  {width: 33.33%;}
.col-t-5  {width: 41.66%;}
.col-t-6  {width: 50%;}
.col-t-7  {width: 58.33%;}
.col-t-8  {width: 66.66%;}
.col-t-9  {width: 75%;}
.col-t-10 {width: 83.33%;}
.col-t-11 {width: 91.66%;}
.col-t-12 {width: 100%;}
/*--------------------------------------------grille mobile-------------------------------------------*/
.col-m-1  {width: 8.33%;}
.col-m-2  {width: 16.66%;}
.col-m-3  {width: 25%;}
.col-m-4  {width: 33.33%;}
.col-m-5  {width: 41.66%;}
.col-m-6  {width: 50%;}
.col-m-7  {width: 58.33%;}
.col-m-8  {width: 66.66%;}
.col-m-9  {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}


/*-----------------------------------------HEADER------------------------------------------------------*/
header{
    height: 100px;
    /*!*background-color: #adff2f;*! je le met en commentaire simplement pour que tu me donne ton avis sur le style que j'ai mis*/
}
header div{
    height: 100px;
    width: 80%;
    margin: auto;
}
header div img{
    height: 100px;
    padding: 0;
}
/*---------------NAVIGATION--------------*/
nav{
    height: 100px;
    padding: 0;
}

nav ul.row{
    display: inline;
    line-height: 100px;
    list-style-type: none;
    padding: 0;
    margin:0;
}
 li.col-3{
     display: inline;
     padding: 0;
     text-align: center;
}
nav ul li a{
    text-decoration: none;
    color: #49d135;
    position: relative;
    transition: all 2s;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: -5px auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}
nav ul li a:hover:after {
    width: 100%;
}

nav ul li a:hover {
    color: #62c446;
    z-index: 1;
}
nav ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}

/*----------------------------------------footer----------------------------------------------------*/
footer{
    height: 100px;
    /*background-color: rgb(173,255,47);*/
    background-color: #49d135;
    margin-top: 20px;
}

#images_footer{
    text-align: right;
    margin-top: 68px;
}
#facebook, #twitter, #linked{
    width: 30px;
}

/*----------------------------------------carrousel---------------------------------------------------*/

/* width a 80% pour la rendre responsive*/
/*div#carrousel{
    width: 100%;
    max-width: 1000px;    !*je l'ai mise en commentaire parceque tiu l'a declarer 2 fois dans le css *!
}  */
div#carrousel figure{
    position: relative;
    width: 400%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
}

div#carrousel figure img{
    width: 20%;
    height: 600px;
    float: left;
    margin-top: 20px;
}

div#carrousel{
    width: 100%;        /*je lui aai donner 100 pour qu'il occupe l'espace du wrapper*/
    /*max-width: 1000px;*/  /*je l<ai fait pour enlever le blanc qui etai a la droite du carousel*/
    /*cache ce qui depasse*/
    overflow: hidden;
}
/*---ANIMATION---*/
@keyframes slide {
    0% { left: 0;}
    20% { left: 0;}
    25% { left: -100%;}
    45% { left: -100%;}
    50% { left: -200%;}
    70% { left: -200%;}
    75% { left: -300%;}
    95% { left: -300%;}
    100% { left: -400%;}
}

/*On appel l'animatiion*/

div#carrousel figure {
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: left;
    animation: 10s slide infinite; /*j'ai mis 5s pr tester*/
}




/*---------------------------------------Catalogue -------------------------------------------*/
/*
#list{
    width:30%;
    display: inline-block; !* si okn travail avec le systeme de colone on aura pas besoin des width*!
}
*/
div#liste ul{
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    text-align: left;
}
div#liste ul li{
    border-bottom: 1px solid gray;
    background-color: #c3c3c3;
}
#liste h1{
    color: white;
    text-align: center;
    margin-bottom: 0;
    background-color: #adff2f;
}

/*
section{
    width: 60%;     !*pareil pour lui avec le systeme de grille*!
    display: inline-block;
}
*/
.cadre_produit{
    width: 45%;
}
.catalogue_image{
    width: 100%; /*la width sert simplement pour une visualisation plus facile*/
}
/*Boutons*/
/*
.au_panier{
    width: 150px; !*j'ai mis un a au lieu d'un input*!
}
*/
/*css du a*/
section.col-9 a{
    display: block;
    background-color: #ADFF2F;
    width: 200px;
    height: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    border: 1px solid #adff2f;
    border-radius: 5px;
    box-shadow: 2px 2px #c3c3c3 inset;
    color: black;
    margin: 5%;
}
section.col-9 a:hover{
    padding-top: 2px;
    background-color: gray;
    color: white;
    box-shadow: 2px 2px #adff2f;
}
/***********************/

.catalogue_image{
    display: inline-block;
    width: 140px;
}

.text_suit_image{
    display: inline-block;
    width: 200px;
}

h3{
    width: 70%;
}

/*************/
.liste_produits{
    text-decoration: none;
    color: #000;
    margin-left: 10px;
}

/*---------------------------------------formulaire -------------------------------------------*/
form{
    width: 80%;
    margin: auto;
}
fieldset{
    border: 2px solid #adff2f;
    padding: 5%;
    margin-top: 2%;
    border-radius: 15px;
    box-shadow: #c2c2c2 5px 5px ;
}
.div_form{
    display:block ;
    margin-top:3%;
}
label{
    display: inline-block;
    width: 30%;
}
input{
    border-radius: 7px;
    width: 250px;
}
#submit{
    display: block;
    background-color: #ADFF2F;
    width: 200px;
    height: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    border: 1px solid #adff2f;
    border-radius: 5px;
    box-shadow: 2px 2px #c3c3c3 inset;
    color: black;
    margin-top: 3%;
    margin-left: 30%;
    /*margin-bottom: 3%;*/
}
#submit:hover{
    padding-top: 2px;
    background-color: gray;
    color: white;
    box-shadow: 2px 2px #adff2f;
}
form a{
    display: block;
    background-color: #ADFF2F;
    width: 200px;
    height: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    border: 1px solid #adff2f;
    border-radius: 5px;
    box-shadow: 2px 2px #c3c3c3 inset;
    color: black;
    margin-left: 60%;
    margin-bottom: 3%;
    margin-top: -3.5%;

}
form a:hover {
    padding-top: 2px;
    background-color: gray;
    color: white;
    box-shadow: 2px 2px #adff2f;
}
/*---------------------------------------Index -------------------------------------------*/
#text-index{
    /*max-height: 100px;*/
}
/*--------------------------------index quelques positionnement----------------------------*/
#video,aside{
    margin-top: 4%;
}
h2 p{
    text-align: justify;
}
aside img.col-4:first-of-type{
    padding-left: 0;
}
aside img.col-4:last-of-type{
    padding-right: 0;
}
/*-------------------------------------details-----------------------------------------------*/
/*le font 3D*/
@font-face {
    font-family: '3dumbregular';
    src: url('fonts/3dumb-webfont.eot');
    src: url('fonts/3dumb-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/3dumb-webfont.woff2') format('woff2'),
    url('fonts/3dumb-webfont.woff') format('woff'),
    url('fonts/3dumb-webfont.ttf') format('truetype'),
    url('fonts/3dumb-webfont.svg#3dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
#details{
    width: 70%;
    margin: 10%;
    border: 2px solid #adff2f;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 8px 8px #c3c3c3;
}
#details img{
    width: 60%;
    border-right: 2px solid #ADFF2F;
}
#details h1{
    margin-top:0;
    font-family: '3dumbregular',sans-serif;
}
#details a{
    display: block;
    background-color: #ADFF2F;
    width: 100px;
    height: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    border: 1px solid #adff2f;
    border-radius: 5px;
    box-shadow: 2px 2px #c3c3c3 inset;
    color: black;
    margin-left: 40%;
    margin-top: 30%;
}
#details a:hover{
    padding-top: 2px;
    background-color: gray;
    color: white;
    box-shadow: 2px 2px #adff2f;

}

#description{
    margin: auto;
    text-align: center;
}
#details div.col-4 p:nth-of-type(2){
    margin-top: 0;
}
#details div.col-4 p:first-of-type{
    font-weight: bold;
    font-size: 20px;
    color: #adff2f;
    margin-bottom: 0;
}
/**************modal*******************/
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #adff2f);
    background: -webkit-linear-gradient(#fff, #adff2f);
    background: -o-linear-gradient(#fff, #adff2f);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #adff2f; }